/* BODY */

.ul-food {
    width: 100vw;

}


.li-food {
    background-color: black;
    padding: 1rem;
    margin: 1rem;
    width: 10%;
    display: inline;


}

.li-food .red {}

.li-food .green {}

.li-food .blue {}

a {
    text-decoration: none;
    color: white;
}